@import './variables';
@import './functions';
@import './mixins';

@import './backdrop.scss';
@import './sideDrawer.scss';
@import './toggleButton.scss';
@import './title.scss';
@import './projects.scss';
@import './aboutMe.scss';
@import './fadeIn.scss';
@import './nextSection.scss';
@import './navFooter.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: color(text);
  @include background;
  background: color(background);
  line-height: 1.5;
  position: relative;
}
