@import './variables';
@import './functions';
@import './mixins';

a {
  text-decoration: none;
  color: color(text);
  .next-section {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 3rem 0;
    font-size: 1.5em;
    opacity: 0.7;

    h6 {
      opacity: 0;
    }

    .MuiSvgIcon-root {
      font-size: 4rem;
      opacity: 0.7;
    }

    &:hover,
    &:active {
      opacity: 1;
      @include easeOut;
      h6 {
        opacity: 1;
        @include easeOut;
      }

      .MuiSvgIcon-root {
        opacity: 1;
      }
    }
  }
}
