@import './variables';
@import './functions';
@import './mixins';

.toggle {
  position: fixed;
  z-index: 200;
  margin-top: 1rem;
  margin-left: 1rem;
  opacity: 0.9;
  background: rgba(color(background), 0.1);
}
