@import './variables';
@import './functions';
@import './mixins';

.toggle {
  position: fixed;
  z-index: 200;
  margin-top: 1rem;
  margin-left: 1rem;
  opacity: 0.9;
  background: rgba(color(background), 0.1);
}

/* .toggle-button {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 2rem;
  width: 2rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  z-index: 200;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.8;

  .toggle-button_line {
    width: 35px;
    height: 2px;
    background: color(hover_text);
    box-shadow: 1px 0px 5px 0.5px rgba(0, 0, 0, 1);
  }

  &:focus {
    outline: none;
  }

  & span:before {
    top: -10px;
  }

  & span:after {
    bottom: -10px;
  }
} */

/* 
@include responsive-mobile() {
  .toggle-button {
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background: rgba(color(background), 0.1);
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: fixed;
    z-index: 200;

    .toggle-button_line {
      width: 35px;
      height: 1px;
      background: white;
      box-shadow: 1px 0px 10px 0.5px rgba(0, 0, 0, 1);
    }

    .MuiSvgIcon-root {
      font-size: 2em;
      size: 2em;
    }
  }

  .toggle-button:focus {
    outline: none;
  }
}

@include responsive_tablet() {
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(color(background), 0.1);
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: fixed;
    z-index: 200;

    .toggle-button_line {
      width: 35px;
      height: 1px;
      background: white;
      box-shadow: 1px 0px 10px 0.5px rgba(0, 0, 0, 1);
    }
  }

  .toggle-button:focus {
    outline: none;
  }
}

@include responsive_desktop() {
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(color(background), 0.1);
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: fixed;
    z-index: 200;

    .toggle-button_line {
      width: 35px;
      height: 1px;
      background: white;
      box-shadow: 1px 0px 10px 0.5px rgba(0, 0, 0, 1);
    }
  }

  .toggle-button:focus {
    outline: none;
  }
}

@include responsive_desktop_large() {
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(color(background), 0.1);
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: fixed;
    z-index: 200;

    .toggle-button_line {
      width: 35px;
      height: 1px;
      background: white;
      box-shadow: 1px 0px 10px 0.5px rgba(0, 0, 0, 1);
    }
  }

  .toggle-button:focus {
    outline: none;
  }
}
 */
